<div id="navbar-home" class="navbar">
  <h3>All Restaurants</h3>
  <p><%= link_to 'Add Restaurant', new_restaurant_path(@restaurant) %></p>
</div>

<div class="content-text">
  <% @restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <% end %>
</div>
