<h3>All Restaurants</h3>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<% end %>

<p><%= link_to 'Create a new Restaurant', new_restaurant_path(@restaurant) %></p>
